 .top-bar h1 {  
                font-size: 100px;
                margin:0;
                flex:2;
                text-align:center;
            }

            .top-bar {
                position:fixed;
                top:0;
                left:0;
                width:100%;
                background-color: rgb(123, 24, 244);
                width:100%;
                padding:20px 0;
                box-shadow: 0 4px 10px rgb(255, 0, 0);
                display:flex;
                align-items:center;;
            }

            .top-bar .logo {
                flex:1;
            }

            body { background-color: rgb(255, 255, 255);padding:0 }
            p.special { color: rgb(222, 23, 23); 
                font-family: 'Times New Roman', Times, serif; 
                font-size: 30px; 
                margin-top: 15px; 
                margin-left: 90px;
                margin-right: 90px;
            }
                

            .Pic { 
                width: 100%;
                height: 500px;
                object-fit: cover;
                box-shadow: 1px 1px 10px #000000;
                border: 1px solid;
             }

            h1 {
                font-family: 'Times New Roman', Times, serif;
                text-align:center;
                color: yellow; 
                text-shadow: -10px 10px 5px rgb(225, 0, 0);
                font-size:100%;
            }

            h2 {
                font-family: 'Times New Roman', Times, serif;
                text-align: left;
                color: rgb(0, 0, 255);
                text-shadow: 1px 1px px rgb(0, 0, 0);       
                margin-top: 200px;
                font-size: 50px;
                margin-left: 90px;
            }
            .navbar {
                flex:1;
                display:flex;
                justify-content:flex-end;
                align-items: center;
            }
            .navbar a {
                
                padding: 10px 15px;
                font-size: 20px;
                color: white;
                text-decoration: none;
                
            }

            .table-container {
             display: flex;
             justify-content: center;
             margin-bottom: 40px;
            }

            table {
            width: 90%;
            border-collapse: collapse;
            text-align: center;
            }   

            th, td {
            border: 1px solid rgb(0, 0, 255);
            padding: 10px;
            }

            th {
            background-color: rgb(123, 24, 244);
            color: white;
            }

            .period {
            background-color: rgb(123, 24, 244);
            color: white;
            font-weight: bold;
        }

td {
    background-color: #f2f2f2;
}
footer {
    margin-top: 10px;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}