*{margin: 0;
  padding: 0;
}

 body { background-color: #f4f4f4;
    color: #333333;
 }
header { padding: 15px;
    background-color: #000000;
    color: white;
    display: flex 
 }

header div { font-size: 24px;
    border: #f4f4f4 2px solid;
    padding: 10px;
    text-align: center;
    flex:1;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
 }
 menu { 
    color: white;
    padding: 20px;
    flex:5;
    text-align: right;
 }

 
 a {margin: 0 15px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s;
}
a:hover {
    color:blueviolet
} 
h1 { 
    text-align: center;
    margin: 20px 0;
    color: rgb(141, 8, 8);
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;

 }
 img{ 
    margin-top: 80px;
 }
 h2 {padding: 20px;;
    color: #333333;
    font-family: 'Times New Roman', Times, serif;
}
footer { 
    background-color: rgb(141, 8, 8);
    color: white;
    text-align: center;
    padding: 40px;
    bottom: 0;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}